language: python

branches:
  only:
    - master

sudo: false

dist: xenial

addons:
  apt:
    packages:
    - libhdf5-serial-dev

matrix:
  include:
    - python: 3.6
    - python: 3.7
      sudo: true

install:
  - export HDF5_DIR=/usr/lib/x86_64-linux-gnu/hdf5/serial
  - pip install -U pip setuptools wheel
  - pip install -r requirements_dev.txt
  - python setup.py build_ext --inplace
  - pip install -v .

script:
  - nosetests -v
  - pysamstats --help
  - pysamstats --type coverage fixture/test.bam > coverage.txt
  - pysamstats --type coverage --output=coverage.txt fixture/test.bam
  - pysamstats --type coverage --output=coverage.h5 --format=hdf5 fixture/test.bam
  - pysamstats --type coverage --fields=pos,reads_all fixture/test.bam > coverage_fields.txt
  - pysamstats --type coverage_binned --fasta=fixture/ref.fa fixture/test.bam > coverage_binned.txt
  - pysamstats --type coverage_binned --fasta=fixture/ref.fa --output=coverage_binned.txt fixture/test.bam
  - pysamstats --type coverage_binned --fasta=fixture/ref.fa --output=coverage_binned.h5 --format=hdf5 fixture/test.bam
  - pysamstats --type=coverage --min-mapq=27 --min-baseq=17 --no-dup --no-del fixture/test.bam > coverage_filtered.txt
  - pysamstats --type=coverage_binned --fasta=fixture/ref.fa --min-mapq=27 --no-dup fixture/test.bam > coverage_binned_filtered.txt
